.nav-item{
    cursor: pointer;
}
.tab-pane{
  margin:1rem;
}

/*
select{
margin-top: 3px;
padding: 5px 41px;
border-radius: 6px;
} */

.user-toggle, .user-toggle:active, .user-toggle:hover,.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle{
  background: transparent;
  color: white;
  border: none;
}

select.custome-select.user-toggle.form-control:active {
  color: black !important;
}
.count{
  background: red;
  border-radius: 50%;
  font-size: 1rem;
  color: #ffffff;
  position: absolute;
  margin: -0.25rem 0 0 1.4rem;
  width: 1.5rem;
text-align: center;
  height: 1.5rem;
  font-weight: 700;
}
.notif-dropdown{
  height: 25rem !important;
  max-height: 25rem;
  overflow-y: auto;
  min-width: 38rem;
}

.notif-btn{
  width: 100%;
}

.notif-popup{
  min-height: 403px;
  max-height: 403px;
  overflow-y: auto;
  margin-top: -10px;
  position: absolute;
  z-index: 2;
  right: 0;
}
  
.card{
  -webkit-box-shadow: 1px 1px 6px 2px rgba(0,0,0,0.27);
  -moz-box-shadow: 1px 1px 6px 2px rgba(0,0,0,0.27);
  box-shadow: 1px 1px 6px 2px rgba(0,0,0,0.27)
}
