<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Epredia Revos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
        <a class="nav-link" href="#">{{ 'HOME.TITLE2' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{ 'HOME.TITLE3' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{ 'HOME.TITLE4' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{ 'HOME.TITLE5' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{ 'HOME.TITLE6' | translate }} </a>
      </li>
      <li class="nav-item">
        <select class="custome-select user-toggle form-control" #langSelect (change)="translate.use(langSelect.value)">
          <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang"
            data-thumbnail="">{{ lang }}</option>
        </select>

        <!-- <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownForm1" ngbDropdownToggle>Toggle dropdown</button>
          <div ngbDropdownMenu aria-labelledby="dropdownForm1">
            <li *ngFor="let lang of translate.getLangs()">
              <span><img src="../../assets/france.svg" alt="" srcset=""></span>
              {{ lang }}
            </li>

          </div>
        </div> -->

      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" *ngIf="isConnecting">
      <div class="spinner-grow text-danger" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-grow text-danger" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-grow text-danger" role="status">
        <span class="sr-only">Loading...</span>
      </div>

    </form>
    <form class="form-inline my-2 my-lg-0" *ngIf="!isConnecting">
      <div class="spinner-grow text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-grow text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-grow text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>

    </form>
    <form class="from-inline my-2">
      <div class="btn-group">
        <button type="button" class="user-toggle btn btn-light dropdown-toggle" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user-circle" aria-hidden="true"></i>
          Hi, {{userName}}
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="logout()">Logout</a>

        </div>
      </div>

    </form>
    <div class="btn-group dropleft">
      <i class="fa fa-bell-o text-white" style="font-size: 2rem;" aria-hidden="true" data-toggle="dropdown"></i>
      <span class="count"> {{notifList.length}}</span>
      <div class="dropdown-menu notif-dropdown">


        <table class="table table-hover">
          <tbody *ngIf="notifList.length > 0" >
            <tr *ngFor="let data of notifList">
              <td>{{data?.deviceId}}</td>
              <td>{{ data?.eventParameters?.event_type || '-' }}</td>
              <td>{{ data?.timestamp  | date:'short' || '-' }}</td>
              <td>{{ data?.eventParameters?.description  || '-' }}</td>
            </tr>
          </tbody>
        </table>


      </div>
    </div>

  </div>
</nav>
<div class="container-fluid p-0">
  <div class="row p-0" style="border-bottom: 1px solid;">
    <div class="col-3 bg-light p-0" style="border-right: 2px solid">
      <app-device-list (deviceSelected)="selectedDevice($event)"></app-device-list>
    </div>
    <div class="col-9">
      <div class="row">


        <div class="col-4">

          <app-device-details [device]="selectDevice"></app-device-details>
        </div>
        <div class="col-4">


          <app-device-metadata></app-device-metadata>

        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-header">
              Notifications
            </div>
            <div class="card-body">
              <table class="table">
                <tbody>
                  <tr *ngFor="let item of countList" >
                    <td>{{ item.name}}  ({{item.count}})</td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 p-0">
          <app-chart></app-chart>

        </div>
      </div>

    </div>
  </div>
  <div class="col-12">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{ 'active': isActive == 0}" (click)="isActive=0" id="home-tab" data-toggle="tab"
          role="tab" aria-controls="home" aria-selected="true">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{ 'active': isActive == 1}" (click)="isActive=1" id="notif-tab" data-toggle="tab"
          role="tab" aria-controls="notif" aria-selected="true">Notification</a>
      </li>

    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade" [ngClass]="{'show': isActive == 0, 'active': isActive == 0}" id="home" role="tabpanel"
        aria-labelledby="home-tab">
        <app-device-events></app-device-events>
      </div>

      <div class="tab-pane fade" [ngClass]="{'show': isActive == 1, 'active': isActive == 1}" id="notif" role="tabpanel"
        aria-labelledby="notif-tab">
        <app-notification></app-notification>
      </div>

    </div>
  </div>
</div>
