<div class="container"  >
  <div class="card m-3 p-3" *ngFor="let metadata of devicemetadata" id="deviceMetaData">



    <div>{{ 'HOME.REQ_TYPE' | translate}} : {{ metadata.request }}</div>
    <div>{{ 'HOME.CHAMBER_STATUS' | translate}} : {{ metadata.chamber_status }}</div>
    <div>{{ 'HOME.PROTOCOL_NAME' | translate}} : {{ metadata.protocol_name || '-' }}</div>
    <div>{{ 'HOME.REAGENT_NAME' | translate}} : {{ metadata.reagent_name || '-' }}</div>
    <div>{{ 'HOME.TIMESTAMP' | translate}}: {{ metadata.timestamp | date:'medium' }}</div>

  </div>
