<!-- <p>login works!</p>
<button (click)="goLogin()">login</button> -->
<div class="container-fluid-bg">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="assets/infylogo2.png" ></a>
          </div>
        </div>
    </nav>
    <div class="card">
      <img src="assets/img_avatar3.png" alt="John" class="image-style">
      <h4>Epredia Revos</h4>
      <p class="title">Click the Login button to continue</p>
      <p><button (click)="Login()">Login</button></p>
    </div>
</div>