
<div class="container" *ngIf="device" id="deviceDetails">
  <div class="card m-3 p-3">

    <div>{{'HOME.DEVICE_ID' | translate}} :{{device._id}}   </div>
    <div>{{'HOME.DEVICE_NAME' | translate }} :{{device.deviceName}}   </div>
    <div>{{'HOME.SERIAL_NUMBER' | translate}} :{{device.serialNumber}}   </div>
    <div>{{'HOME.SOFTWARE_VERSION' | translate}} :{{device.firmwareVersion}}   </div>
    <div>{{'HOME.FIRM_VERSION' | translate}} :{{device.softwareVersion}}   </div>
    <div>{{'HOME.STATUS' | translate}} :{{device.status}}   </div>
  </div>
</div>
