<div class="card px-3 card-device-details" *ngIf="device" id="deviceDetails">
  <table>
    <tr>
      <th>{{'HOME.DEVICE_ID' | translate}}</th>
      <td>{{ device._id }}</td>
    </tr>
    <tr>
      <th>{{'HOME.DEVICE_NAME' | translate}}</th>
      <td>{{ device.deviceName }}</td>
    </tr>
    <tr>
      <th>{{'HOME.SERIAL_NUMBER' | translate}}</th>
      <td>{{ device.serialNumber }}</td>
    </tr>
    <tr>
      <th>{{'HOME.SOFTWARE_VERSION' | translate}}</th>
      <td>{{ device.softwareVersion }}</td>
    </tr>
    <tr>
      <th>{{'HOME.FIRM_VERSION' | translate}}</th>
      <td>{{ device.firmwareVersion }}</td>
    </tr>
    <tr>
      <th>{{'HOME.STATUS' | translate}}</th>
      <td>{{device.status}}</td>
    </tr>
  </table>
</div>