
<div class="container" *ngIf="device" id="deviceDetails">
  <div class="card m-3 p-3">

    <div>Device Id :{{device._id}}   </div>
    <div>Device Name :{{device.deviceName}}   </div>
    <div>Serial Number :{{device.serialNumber}}   </div>
    <div>Firmware Version :{{device.firmwareVersion}}   </div>
    <div>Software Version :{{device.softwareVersion}}   </div>
    <div>Status :{{device.status}}   </div>
  </div>
</div>

<div class="container" *ngIf="device.length==0" id="deviceDetails">
  <div class="card m-3 p-3">

    <div>Device Id :- </div>
    <div>Device Name :-  </div>
    <div>Serial Number :- </div>
    <div>Firmware Version :-  </div>
    <div>Software Version :-   </div>
    <div>Status :-  </div>
  </div>
</div>
